<div class="parent-container">
  <div>
    <div class="title">
      <mat-card class="mat-elevation-z6">
        <mat-card-title-group>
          <mat-card-title>Dostępne tytuły utworów</mat-card-title>
          <button *ngIf="canAddScoreTitle" mat-mini-fab (click)="visible = !visible" color="primary">
            <mat-icon class="mat-36 hand">add</mat-icon>
          </button>
        </mat-card-title-group>
      </mat-card>
    </div>
    <div class="content" fxFlexFill>
      <div fxLayout="col" class="add-score-title" *ngIf="visible">
        <pre>{{error}}</pre>
        <br>
        <mat-card class="mat-elevation-z3">
          <mat-card-title>
            <small>Dodaj nowy tytuł utworu</small>
          </mat-card-title>
          <mat-card-content>
            <app-score-title-form></app-score-title-form>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="col" fxFlex="100" class="display-score-title">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          
        </div>
        <div class="mat-elevation-z3 tab">
          <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <!-- Pitch Column -->
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Numer </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
            </ng-container>

            <!-- Voice Column -->
            <ng-container matColumnDef="scoreType">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria </mat-header-cell>
              <mat-cell *matCellDef="let element" i18n> {{getScoreTypeTranslation(element.scoreType)}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
