.parent-container {
    padding: 20px;
}
.hand {
    cursor: pointer;
}

.title {
    padding: 20px;
}

.content {
    padding: 20px;
}
.add-score-title {
    min-width: 270px;
    max-width: 300px;
    width: 100%;
    align-self: flex-start;
}
.display-score-title {
    width: 100%;
}

.tab {
    /* height: 100%; */
    width: 100%;
}