<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <button mat-raised-button color="primary" (click)="addPdf()">PDF</button>
    <button mat-raised-button color="primary" (click)="addMscz()">Mscz</button>
    <button mat-raised-button color="primary" (click)="addImage()">Obraz</button>
    <button mat-raised-button color="primary" (click)="addOther()">Inny</button>
  </div>
  <mat-expansion-panel [expanded]="attachedFiles.getPendingFilesCount()> 0" [hideToggle]="true">
    <mat-expansion-panel-header fxLayout="row">
      <span fxFlex="100">Dołączone pliki</span>
      <span fxFlex="15">{{ uploadedFiles.length }} z {{ attachedFiles.getPendingFilesCount() }}</span>
    </mat-expansion-panel-header>
    <app-file-loader #attachedFiles [instrument]="instrument" [scoreTitle]="scoreTitle" [scoreType]="scoreType" (allCompleted)="completed($event)"></app-file-loader>
  </mat-expansion-panel>
  <button mat-raised-button fxFlexFill (click)="sendAll($event)" *ngIf="pendingFiles && !allSent" color="primary">Wyślij wszystkie pliki</button>
</div>
