<div class="parent-container">
  <div class="mat-elevation-z0">
    <div class="title">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>Dostępne instrumenty</mat-card-title>
          <button *ngIf="canAddIntrument" mat-mini-fab (click)="visible = !visible" color="primary">
              <mat-icon class="mat-36 hand">add</mat-icon>
          </button>
        </mat-card-title-group>
      </mat-card>
    </div>
    <div class="content" fxFlexFill>
      <div fxLayout="col" class="add-instr" *ngIf="visible">
        <pre>{{error}}</pre>
        <br>
        <mat-card class="mat-elevation-z3">
          <mat-card-title>
            <small>Dodaj nowy instrument</small>
          </mat-card-title>
          <mat-card-content>
            <app-instrument-form (instrumentAdded)="refreshData($event)"></app-instrument-form>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="col" fxFlex="100" class="display-instr">
        <div class="mat-elevation-z3 tab">
          <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Pitch Column -->
            <ng-container matColumnDef="instrumentPitch">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Strój </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.instrumentPitch}} </mat-cell>
            </ng-container>

            <!-- Voice Column -->
            <ng-container matColumnDef="voiceNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Głos </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.voiceNumber}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
