<ng-container class="container">
  <mat-toolbar class="header mat-elevation-z2">{{title}}</mat-toolbar>
  <div fxLayout="column" class="content" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
    <div class="mat-elevation-z3 instrument-select" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <form>
        <mat-form-field>
          <input matInput placeholder="Wybierz instrument" [matAutocomplete]="instrumentAutocomplete" [formControl]="instrFormControl">
          <mat-autocomplete #instrumentAutocomplete="matAutocomplete" [displayWith]="displayInstrument" (optionSelected)="instrumentSelected($event)">
            <mat-option *ngFor="let choice of filteredInstruments | async" [value]="choice">
              {{choice.name }} {{ choice.voiceNumber}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px" *ngIf="metaDataPDFList?.length >0" fxFill>
      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div fxLayout="row wrap" fxLayoutAlign="space-around stretch">
          <div class="item" *ngFor="let data of metaDataPDFList; let i =index">
            <app-display-file [data]="data"></app-display-file>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
