.size {
    /* font-size: 22px; */
    margin-top: 5px;
    cursor: pointer;
}
.item-full-width {
    width: 100%;
    margin-right: -30px;
}
.fi{
    display: none;
}
.button{
    width: 100%;
}
.actions {
    margin-right: -30px;
}