<div class="container">
  <div fxLayout="row" class="register-row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <form [formGroup]="registerForm">
      <mat-progress-bar class="mat-elevation-z1 bar" mode="query" *ngIf="processing"></mat-progress-bar>
      <mat-card fxLayoutAlign="center center" *ngIf="error && !processing" class="register-error"><span><strong>{{error}}</strong></span></mat-card>
      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <button mat-raised-button [routerLink]="['/']" class="home-button" color="accent">
            <mat-icon class="mat-18">home</mat-icon>
          </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
          <mat-input-container floatPlaceholder="auto">
            <input matInput type="text" [formControl]="name" placeholder="Imię">
          </mat-input-container>
          <mat-input-container floatPlaceholder="auto">
            <input matInput type="text" [formControl]="surname" placeholder="Nazwisko">
          </mat-input-container>
          <mat-input-container floatPlaceholder="auto">
            <input matInput type="text" [formControl]="email" placeholder="Email">
          </mat-input-container>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
          <mat-input-container floatPlaceholder="auto">
            <input matInput type="text" [formControl]="userName" placeholder="Login">
          </mat-input-container>
          <mat-input-container floatPlaceholder="auto">
            <input matInput type="password" [formControl]="password" placeholder="Hasło">
          </mat-input-container>
          <button mat-raised-button (click)="register()" color="primary" class="register-button" [disabled]="registerForm.invalid || processing">Zarejestruj</button>
        </div>
      </div>
    </form>
  </div>
</div>
